In [3]:
import json
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
everything = {} # this is the whole json object that contains all of the data

with open("data.json", "r") as inf:
    everything = json.load(inf)

In [5]:
# A big huge block of code for slicing the data that probably could have been done better/cleaner/more efficiently with pandas
# but I didn't think of that right away so here it is

all_ratings = {}
male_ratings = {} # this will be male profs by dept
female_ratings = {} # this will be female profs by dept

only_females = [] # a list of tuples (course["rating_of_course"], course["rating_of_instruction"] , course["how_much_learned"], course["how_hard"])
only_males = [] # same as above

all_male_ratings = {} # ignores dept
all_female_ratings = {} # ignore dept


# initialize a bunch variable
all_male_avg_course_rating = 0 # the average course rating
all_male_avg_instructor_rating = 0 # the average instructor rating
all_male_avg_how_much_learned = 0 # the average how much learned
all_male_avg_how_hard = 0 # the average for how intellictually challenging
all_male_course_count = 0

all_female_avg_course_rating = 0
all_female_avg_instructor_rating = 0
all_female_avg_how_much_learned = 0
all_female_avg_how_hard = 0
all_female_course_count = 0

    
number_of_responses = 0
course_count = 0

total_comments = 0
male_total_comments = 0
female_total_comments = 0

for keys, values in everything["department"].items():
    print(keys)
    
    # variables for all of the course
    all_ratings[keys] = {}
    avg_course_rating = 0
    avg_instructor_rating = 0
    avg_how_much_learned = 0
    avg_how_hard = 0
    
    number_of_responses = 0
    course_count = 0
    
    # different set for men
    male_ratings[keys] = {}
    male_avg_course_rating = 0
    male_avg_instructor_rating = 0
    male_avg_how_much_learned = 0
    male_avg_how_hard = 0
    
    male_number_of_responses = 0
    male_course_count = 0
    
    # different set for women
    female_ratings[keys] = {}
    female_avg_course_rating = 0
    female_avg_instructor_rating = 0
    female_avg_how_much_learned = 0
    female_avg_how_hard = 0
    
    female_number_of_responses = 0
    female_course_count = 0
    
    # for each course in a dept
    for course in values:
        # this mini block is for the analysis by dept
        course_count += 1
        avg_course_rating += course["rating_of_course"]
        avg_instructor_rating += course["rating_of_instruction"] 
        avg_how_much_learned += course["how_much_learned"]
        avg_how_hard += course["how_hard"]
        
        number_of_responses += len(course["comments"])
        
        if course["instructor_gender"] == "F":
            female_course_count += 1
            female_avg_course_rating += course["rating_of_course"]
            female_avg_instructor_rating += course["rating_of_instruction"] 
            female_avg_how_much_learned += course["how_much_learned"]
            female_avg_how_hard += course["how_hard"]
        
            female_number_of_responses += len(course["comments"])
            
            all_female_avg_course_rating += course["rating_of_course"]
            all_female_avg_instructor_rating += course["rating_of_instruction"]
            all_female_avg_how_much_learned += course["how_much_learned"]
            all_female_avg_how_hard += course["how_hard"]
            
            all_female_course_count += 1
            
            only_females.append((course["rating_of_course"], course["rating_of_instruction"] , course["how_much_learned"], course["how_hard"]))
            
        elif course["instructor_gender"] == "M":
            male_course_count += 1
            male_avg_course_rating += course["rating_of_course"]
            male_avg_instructor_rating += course["rating_of_instruction"] 
            male_avg_how_much_learned += course["how_much_learned"]
            male_avg_how_hard += course["how_hard"]
        
            male_number_of_responses += len(course["comments"])
            
            all_male_avg_course_rating += course["rating_of_course"]
            all_male_avg_instructor_rating += course["rating_of_instruction"]
            all_male_avg_how_much_learned += course["how_much_learned"]
            all_male_avg_how_hard += course["how_hard"]
            
            all_male_course_count += 1
            only_males.append((course["rating_of_course"], course["rating_of_instruction"] , course["how_much_learned"], course["how_hard"]))

            
        else:
            print("Still no gender for {}".format(course["instructor_name"]))

    all_ratings[keys]["dept_course_rating"] = avg_course_rating/course_count
    all_ratings[keys]["dept_instructor_rating"] = avg_instructor_rating/course_count
    all_ratings[keys]["dept_how_much_learned"] = avg_how_much_learned/course_count
    all_ratings[keys]["dept_how_hard"] = avg_how_hard/course_count
    all_ratings[keys]["number_of_courses"] = course_count
    
    all_ratings[keys]["total_number_of_comments"] = number_of_responses
    total_comments += number_of_responses
    
    male_ratings[keys]["dept_course_rating"] = male_avg_course_rating/male_course_count
    male_ratings[keys]["dept_instructor_rating"] = male_avg_instructor_rating/male_course_count
    male_ratings[keys]["dept_how_much_learned"] = male_avg_how_much_learned/male_course_count
    male_ratings[keys]["dept_how_hard"] = male_avg_how_hard/male_course_count
    male_ratings[keys]["number_of_courses"] = male_course_count
    
    male_ratings[keys]["total_number_of_comments"] = male_number_of_responses
    male_total_comments += male_number_of_responses
    
    female_ratings[keys]["dept_course_rating"] = female_avg_course_rating/female_course_count
    female_ratings[keys]["dept_instructor_rating"] = female_avg_instructor_rating/female_course_count
    female_ratings[keys]["dept_how_much_learned"] = female_avg_how_much_learned/female_course_count
    female_ratings[keys]["dept_how_hard"] = female_avg_how_hard/female_course_count
    female_ratings[keys]["number_of_courses"] = female_course_count
    
    female_ratings[keys]["total_number_of_comments"] = female_number_of_responses
    female_total_comments += female_number_of_responses

# compute averages for the female and male 
all_female_ratings["overall_female_course_rating"] = all_female_avg_course_rating/female_course_count
all_female_ratings["overall_female_instructor_rating"] = all_female_avg_instructor_rating/female_course_count
all_female_ratings["overall_female_how_much_learned"] = all_female_avg_how_much_learned/female_course_count
all_female_ratings["overall_female_how_hard"] = all_female_avg_how_hard/female_course_count
all_female_ratings["number_of_course"] = all_female_course_count

all_male_ratings["overall_male_course_rating"] = all_male_avg_course_rating/male_course_count
all_male_ratings["overall_male_instructor_rating"] = all_male_avg_instructor_rating/male_course_count
all_male_ratings["overall_male_how_much_learned"] = all_male_avg_how_much_learned/male_course_count
all_male_ratings["overall_male_how_hard"] = all_male_avg_how_hard/male_course_count
all_male_ratings["number_of_course"] = all_male_course_count

BME
EECS
English
Gender Studies
Linguistics
LOC
Music
Spanish

In [6]:
# make a data frame with all of the CTECs by dept

ratings_df = pd.DataFrame(all_ratings)
ratings_df

,BME,EECS,English,Gender Studies,LOC,Linguistics,Music,Spanish
dept_course_rating,4.292778,4.312105,4.978125,5.030526,4.900000,4.565263,4.595000,4.719474
dept_how_hard,4.407778,4.748947,4.733437,4.835789,4.252632,4.484737,4.326364,4.447368
dept_how_much_learned,4.551111,4.686842,4.852187,5.077368,4.760526,4.691053,4.534545,4.575263
dept_instructor_rating,4.527778,4.677895,5.264062,5.317895,5.213684,5.047895,4.920000,5.151579
number_of_courses,18.000000,19.000000,32.000000,19.000000,19.000000,19.000000,22.000000,19.000000
total_number_of_comments,526.000000,993.000000,750.000000,391.000000,249.000000,501.000000,120.000000,166.000000

In [7]:
# the total number of comments we have
ratings_df.ix["total_number_of_comments"].sum()

3696.0

In [8]:
# the total number of courses we have
ratings_df.ix["number_of_courses"].sum()

167.0

In [11]:
# a data frame for the ratings by dept for women
female_course_ratings_df = pd.DataFrame(female_ratings)
female_course_ratings_df

,BME,EECS,English,Gender Studies,LOC,Linguistics,Music,Spanish
dept_course_rating,4.255714,4.625,4.975556,4.941818,4.960000,4.661,4.710000,4.793846
dept_how_hard,4.380000,4.270,4.783889,4.840909,4.304000,4.237,4.465714,4.549231
dept_how_much_learned,4.484286,4.610,4.913333,5.023636,4.813333,4.722,4.532857,4.650769
dept_instructor_rating,4.560000,4.970,5.286111,5.174545,5.258000,5.017,4.685714,5.256923
number_of_courses,7.000000,2.000,18.000000,11.000000,15.000000,10.000,7.000000,13.000000
total_number_of_comments,309.000000,191.000,359.000000,166.000000,203.000000,350.000,29.000000,112.000000

In [12]:
# a data frame for the ratings by dept for men

male_course_ratings_df = pd.DataFrame(female_ratings)
male_course_ratings_df

,BME,EECS,English,Gender Studies,LOC,Linguistics,Music,Spanish
dept_course_rating,4.255714,4.625,4.975556,4.941818,4.960000,4.661,4.710000,4.793846
dept_how_hard,4.380000,4.270,4.783889,4.840909,4.304000,4.237,4.465714,4.549231
dept_how_much_learned,4.484286,4.610,4.913333,5.023636,4.813333,4.722,4.532857,4.650769
dept_instructor_rating,4.560000,4.970,5.286111,5.174545,5.258000,5.017,4.685714,5.256923
number_of_courses,7.000000,2.000,18.000000,11.000000,15.000000,10.000,7.000000,13.000000
total_number_of_comments,309.000000,191.000,359.000000,166.000000,203.000000,350.000,29.000000,112.000000

In [9]:
# now this is just males over all depts
only_males_df = pd.DataFrame(np.array(only_males), columns = ["rating_of_course", "rating_of_instruction" , "how_much_learned", "how_hard"])
only_males_df.describe()

       rating_of_course  rating_of_instruction  how_much_learned   how_hard
count         84.000000              84.000000         84.000000  84.000000
mean           4.588333               4.962500          4.679286   4.556190
std            0.678298               0.722927          0.648193   0.681055
min            2.300000               2.220000          2.780000   2.330000
25%            4.160000               4.545000          4.292500   4.227500
50%            4.670000               5.110000          4.785000   4.560000
75%            5.112500               5.560000          5.172500   5.000000
max            5.740000               5.790000          5.800000   5.860000

In [10]:
only_females_df = pd.DataFrame(np.array(only_females), columns = ["rating_of_course", "rating_of_instruction" , "how_much_learned", "how_hard"])
only_females_df.describe()

       rating_of_course  rating_of_instruction  how_much_learned   how_hard
count         83.000000              83.000000         83.000000  83.000000
mean           4.810361               5.109759          4.770120   4.528795
std            0.555409               0.641215          0.550276   0.640557
min            3.000000               2.000000          3.330000   2.890000
25%            4.500000               4.890000          4.440000   4.155000
50%            4.840000               5.130000          4.830000   4.470000
75%            5.160000               5.570000          5.140000   4.995000
max            6.000000               6.000000          6.000000   5.750000